<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
</head>
<body>
  <p><a href="/users/me">Back to Profile</a></p>
  <h1>Edit My Profile</h1>
  <form action="/users/me?_method=PUT" method="POST">
    <div>
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName" name="fullName" value="<%= userProfile.fullName || '' %>">
    </div>

    <div>
      <label for="bio">Bio</label>
      <textarea id="bio" name="bio" rows="4"><%= userProfile.bio || '' %></textarea>
    </div>

    <div>
      <label for="belt">Belt</label>
      <select id="belt" name="belt">
        <option value="" <%= !userProfile.belt ? 'selected' : '' %> >--</option>
        <option value="white" <%= userProfile.belt === 'white' ? 'selected' : '' %> >white</option>
        <option value="blue" <%= userProfile.belt === 'orange' ? 'selected' : '' %> >orange</option>
        <option value="purple" <%= userProfile.belt === 'orange 2' ? 'selected' : '' %> >orange 2</option>
        <option value="brown" <%= userProfile.belt === 'blue' ? 'selected' : '' %> >blue</option>
        <option value="black" <%= userProfile.belt === 'blue 2' ? 'selected' : '' %> >blue 2</option>
         <option value="white" <%= userProfile.belt === 'yellow' ? 'selected' : '' %> >yellow</option>
        <option value="blue" <%= userProfile.belt === 'yellow 2' ? 'selected' : '' %> >yellow 2</option>
        <option value="purple" <%= userProfile.belt === 'green' ? 'selected' : '' %> >green</option>
        <option value="brown" <%= userProfile.belt === 'green 2' ? 'selected' : '' %> >green 2</option>
        <option value="black" <%= userProfile.belt === 'brown' ? 'selected' : '' %> >brown</option>
        <option value="black" <%= userProfile.belt === 'brown 2' ? 'selected' : '' %> >brown 2</option>
        <option value="black" <%= userProfile.belt === 'black' ? 'selected' : '' %> >black</option>
      </select>
    </div>

    <div>
      <label for="age">Age</label>
      <input type="number" id="age" name="age" min="0" value="<%= userProfile.age ?? '' %>">
    </div>

    <div>
      <label for="weightKg">Weight (kg)</label>
      <input type="number" id="weightKg" name="weightKg" min="0" step="0.1" value="<%= userProfile.weightKg ?? '' %>">
    </div>

    <button type="submit">Save</button>
  </form>
</body>
</html>


